<header>List of links</header>

<table>
  <tr>
    <td>Link location:</td>
    <td>ID</td>
  </tr>
<% @links.each do |link| %>
  <tr>
    <td><%= link.location %></td>
    <td><%= link.id %></td>
    <td><%= link_to "delete", link, method: :delete %></td>
  </tr>
<% end %>
